Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

Extracted article author markup into a dedicated Blade partial
  resources/views/layouts/article.blade.php
  resources/views/partials/articles/author.blade.php
Due: ./vendor/bin/phpcs

Extracted article categories markup into a dedicated Blade partial
  resources/views/layouts/article.blade.php
  resources/views/partials/articles/categories.blade.php
Due: ./vendor/bin/phpcs

Used article IDs as a better comparison
  resources/views/partials/articles/inSeries.blade.php
Due: ./vendor/bin/phpcs

Removed unnecessary `title` and `aria-label` attributes
  resources/views/partials/articles/inSeries.blade.php
Due: ./vendor/bin/phpcs

Reworded article in-series string
  resources/lang/en/article.php
Due: ./vendor/bin/phpcs

Improved article in-series notice styling
  resources/views/partials/articles/inSeries.blade.php
Due: ./vendor/bin/phpcs

Removed featured article as no longer wanted
  app/Http/Controllers/ArticleController.php
  resources/views/articles/index.blade.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  app/Http/Controllers/ArticleController.php
Due: ./vendor/bin/phpcs

Added `autocomplete` attributes to contact form inputs
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Added information text to support contact message textarea
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Removed services route as view no longer exists
  resources/views/pages/contact.blade.php
  routes/web.php
Due: ./vendor/bin/phpcs

Removed landing page and instead redirect to blog when visiting the homepage
  resources/views/pages/landing.blade.php
  routes/web.php
  tests/Feature/Pages/PagesTest.php
Due: ./vendor/bin/phpcs

Improved about view test by asserting the correct view is used
  tests/Feature/Pages/PagesTest.php
Due: ./vendor/bin/phpcs

Added route facade use statements
  routes/blog.php
  routes/contact.php
  routes/newsletter.php
  routes/web.php
Due: ./vendor/bin/phpcs

Removed homepage feed link assertion as homepage now redirects to blog
  tests/Feature/Feed/FeedTest.php
Due: ./vendor/bin/phpcs

Removed unnecessary temporary variable
  tests/Feature/Feed/FeedTest.php
Due: ./vendor/bin/phpcs

Improved page titles
  resources/views/articles/index.blade.php
  resources/views/articles/show.blade.php
  resources/views/categories/index.blade.php
  resources/views/categories/show.blade.php
  resources/views/pages/about.blade.php
  resources/views/pages/contact.blade.php
  resources/views/partials/general/head.blade.php
Due: ./vendor/bin/phpcs

Removed unnecessary comments
  config/meta.php
Due: ./vendor/bin/phpcs

Extracted contact details to environment variables
  .env.example
  config/contact.php
Due: ./vendor/bin/phpcs

Improved configuration file formatting
  config/meta.php
Due: ./vendor/bin/phpcs

Added `autocomplete` attribute to newsletter signup input
  resources/views/partials/articles/newsletter.blade.php
Due: ./vendor/bin/phpcs

Changed id naming convention from BEM-like to camelcase
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Removed unnecessary `title` and `aria-label` attributes from links
  resources/views/layouts/article.blade.php
  resources/views/partials/articles/categories.blade.php
  resources/views/partials/categories/index.blade.php
  resources/views/partials/general/categories.blade.php
Due: ./vendor/bin/phpcs

Pin dependencies
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: none

Moved `TestResponseMixin` into the `App` namespace to ensure it can be registered in the `TestServiceProvider`
  app/Mixins/TestResponseMixin.php
  app/Providers/TestServiceProvider.php
Due: ./vendor/bin/phpcs

Moved `laravel/telescope` from a dev-dependency to a dependency
  composer.json
  composer.lock
Due: none

Added `.htpasswd` to Git ignore file
  .gitignore
Due: none

Set TELESCOPE_ENABLED environment variable to false when running PHPUnit to fix failing tests after upgrading to PHP 7.4
  phpunit.xml
Due: none

Removed Telescope test as no longer possible to test after disabled Telescope when running PHPUnit
  tests/Feature/TelescopeTest.php
Due: ./vendor/bin/phpcs

Dropped support for PHP 7.3
  composer.json
Due: none

Refactored route closures to short closured
  routes/web.php
Due: ./vendor/bin/phpcs

Added property type hints
  app/Article.php
  app/ArticleCategory.php
  app/Http/Controllers/ArticleCategoryController.php
  app/Http/Controllers/ArticleController.php
  app/User.php
Due: ./vendor/bin/phpcs

Updated GitHub Actions workflow to use PHP 7.4
  .github/workflows/main.yml
Due: none

Apply fixes from StyleCI
  routes/web.php
Due: ./vendor/bin/phpcs

Revert short closured route refactor as doesn't improve readability
  routes/web.php
Due: ./vendor/bin/phpcs

Reduce PHPInsights thresholds
  .github/workflows/main.yml
Due: none

Added `format` flag to PHP Insights commands
  .github/workflows/main.yml
Due: none

Added `grid` custom utility class
  resources/sass/app.scss
Due: stylelint --syntax=scss

Added responsive styling for `pagination` Blade partial
  resources/views/components/general/pagination.blade.php
Due: ./vendor/bin/phpcs

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  stylelint --syntax=scss: any of: *.scss
  eslint: (any of: *.vue) or (any of: *.js)
