Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Update dependency laravel/framework to v7.23.2
  composer.json
  composer.lock
Due: none

Update dependency sass-loader to v9.0.3
  package.json
  yarn.lock
Due: none

Update dependency @primer/css to v15.1.0
  package.json
  yarn.lock
Due: none

Update dependency phpunit/phpunit to v9.3.0
  composer.json
  composer.lock
Due: none

Update dependency phpunit/phpunit to v9.3.2
  composer.json
  composer.lock
Due: none

Update dependency laravel/framework to v7.24.0
  composer.json
  composer.lock
Due: none

Update dependency phpunit/phpunit to v9.3.3
  composer.json
  composer.lock
Due: none

Install Cypress and Cypress Testing Library
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
Due: eslint

Install Prettier
  .prettierignore
  .prettierrc.json
  package.json
Due: none

Apply Prettier fixes
  lighthouserc.json
  renovate.json
  tailwind.config.js
  webpack.mix.js
Due: eslint

Update Yarn lock file
  yarn.lock
Due: none

Ensure scss files are also linted by Prettier
  package.json
  resources/sass/utilities/_grid.scss
Due: stylelint --syntax=scss

Remove ESLint and Stylelint in favour of Prettier
  .eslintrc
  .lintstagedrc
  .stylelintrc
  package.json
  webpack.mix.js
  yarn.lock
Due: eslint

Remove unnecessary `authorize` methods from form requests
  app/Http/Requests/ArticleCategoryRequest.php
  app/Http/Requests/ArticleRequest.php
  app/Http/Requests/ContactRequest.php
  app/Http/Requests/NewsletterRequest.php
  app/Http/Requests/UserRequest.php
Due: ./vendor/bin/phpcs

Added `id` attribute to contact form
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Strip unnecessary comments from Cypress plugins index file
  cypress/plugins/index.js
Due: eslint

Add basic Cypress configuration
  cypress.json
Due: none

Speed up local Cypress tests
  package.json
Due: none

Correct CSS and JavaScript lint steps
  .github/workflows/main.yml
Due: none

Add Cypress test step
  .github/workflows/main.yml
Due: none

Add basic contact page Cypress tests
  cypress/integration/contact/contact.spec.js
  cypress/selectors.js
  cypress/strings.js
Due: eslint

Correct lint assets script
  .github/workflows/main.yml
Due: none

Add run Laravel server step
  .github/workflows/main.yml
Due: none

Moved run Cypress tests step
  .github/workflows/main.yml
Due: none

Update dependency facade/ignition to v2.3.6
  composer.json
  composer.lock
Due: none

Update dependency phpunit/phpunit to v9.3.5
  composer.json
  composer.lock
Due: none

Update dependency squizlabs/php_codesniffer to v3.5.6
  composer.json
  composer.lock
Due: none
