Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

Refactored login submit icon to use Blade HeroIcons
  resources/views/auth/login.blade.php
Due: ./vendor/bin/phpcs

Remove unused SVG icon
  resources/svg/arrow-right.svg
Due: none

Created checkbox Blade component
  resources/views/auth/login.blade.php
  resources/views/components/checkbox.blade.php
Due: ./vendor/bin/phpcs

Create pill Blade component
  app/View/Components/Pill.php
  resources/views/admin/articles/index.blade.php
  resources/views/components/pill.blade.php
Due: ./vendor/bin/phpcs

Fix linting issues
  app/Http/Controllers/Admin/ArticleController.php
  app/Notifications/ContactReceived.php
  app/Notifications/NewsletterSubscribed.php
  app/Notifications/NewsletterUnsubscribed.php
  app/View/Components/Pill.php
Due: ./vendor/bin/phpcs

Remove linting rules
  config/insights.php
Due: ./vendor/bin/phpcs

Ensure all Composer packages are pinned
  composer.json
Due: none

Corrected paginate parameter type
  app/Http/Controllers/Admin/ArticleController.php
Due: ./vendor/bin/phpcs

Updated TrustProxies docblocks
  app/Http/Middleware/TrustProxies.php
Due: ./vendor/bin/phpcs

Added basic PHPStan configuration file
  phpstan.neon
Due: none

Ensure redirectTo method returns correct value
  app/Http/Middleware/Authenticate.php
Due: ./vendor/bin/phpcs

Remove TestResponseMixin as unnecessary
  app/Mixins/TestResponseMixin.php
  app/Providers/TestServiceProvider.php
  config/app.php
  tests/Feature/Feed/FeedTest.php
Due: ./vendor/bin/phpcs

Add Analyse PHP step
  .github/workflows/main.yml
Due: none

Reorder test steps to fail early
  .github/workflows/main.yml
Due: none

Remove unnecessary schema attributes
  app/Schemas/BlogPostingSchema.php
  app/Schemas/LocalBusinessSchema.php
  app/Schemas/PersonSchema.php
Due: ./vendor/bin/phpcs

Update dependency nothingworks/blade-svg to v0.4.5
  composer.json
  composer.lock
Due: none

Created article max title and slug constants
  app/Article.php
  app/Http/Requests/ArticleRequest.php
  resources/views/admin/articles/create.blade.php
  resources/views/admin/articles/edit.blade.php
Due: ./vendor/bin/phpcs

Renamed `backgroundClasses` to `colourClasses`
  app/View/Components/Pill.php
  resources/views/components/pill.blade.php
Due: ./vendor/bin/phpcs

Created form Blade component
  resources/views/admin/articles/create.blade.php
  resources/views/admin/articles/edit.blade.php
  resources/views/auth/login.blade.php
  resources/views/components/form.blade.php
  resources/views/layouts/admin.blade.php
Due: ./vendor/bin/phpcs

Created icon button Blade component
  resources/views/auth/login.blade.php
  resources/views/components/admin/buttons/icon.blade.php
Due: ./vendor/bin/phpcs

Correct closing form tag
  resources/views/admin/articles/edit.blade.php
Due: ./vendor/bin/phpcs

Improved input, select and textarea component errors
  app/View/Components/Input.php
  app/View/Components/Select.php
  app/View/Components/TextArea.php
  resources/views/admin/articles/create.blade.php
  resources/views/admin/articles/edit.blade.php
  resources/views/components/error.blade.php
  resources/views/components/general/errors.blade.php
  resources/views/components/input.blade.php
  resources/views/components/select.blade.php
  resources/views/components/textarea.blade.php
Due: ./vendor/bin/phpcs

Correct admin page titles
  resources/views/admin/articles/create.blade.php
  resources/views/admin/articles/edit.blade.php
  resources/views/admin/articles/index.blade.php
  resources/views/admin/dashboard.blade.php
  resources/views/layouts/admin.blade.php
Due: ./vendor/bin/phpcs

Ensure only validated date is used to create and update articles
  app/Http/Controllers/Admin/ArticleController.php
Due: ./vendor/bin/phpcs

Refactor article form request to improve pre and post validation logic
  app/Http/Requests/ArticleRequest.php
Due: ./vendor/bin/phpcs

Test improvements
  tests/Feature/Admin/Article/ArticleCreateTest.php
  tests/Feature/Admin/DashboardTest.php
  tests/Feature/Auth/LoginTest.php
Due: ./vendor/bin/phpcs

Rename tests
  tests/Feature/Admin/Article/ArticleCreateTest.php
  tests/Feature/Admin/Article/ArticleEditTest.php
Due: ./vendor/bin/phpcs

Add test MailChimp API key
  .env.ci
Due: none

Add cache steps
  .github/workflows/main.yml
Due: none

Remove test Mailchimp API key
  .env.ci
Due: none

Remove caching steps
  .github/workflows/main.yml
Due: none

Exclude MailChimp API key error
  phpstan.neon
Due: none

Updated MailChimp error message
  phpstan.neon
Due: none

Exclude failing controller
  phpstan.neon
Due: none

Create Cypress env file
  .env.cypress
Due: none

Generate Laravel key after env swap
  cypress/support/index.js
Due: eslint

Update contact mobile screenshot
  cypress/integration/contact/__image_snapshots__/Contact  matches mobile screenshot #0.png
Due: none

Ensure MailChimp log driver is used instead of API during testing
  .env.cypress
Due: none

Removed unused strings
  cypress/strings.js
Due: eslint

Corrected newsletter partial
  resources/views/partials/articles/newsletter.blade.php
Due: ./vendor/bin/phpcs

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  stylelint --syntax=scss: any of: *.scss
  eslint: (any of: *.vue) or (any of: *.js)
