Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Ensured `featureArticle` variable is set before outputting featured article markup
  resources/views/articles/index.blade.php
Due: ./vendor/bin/phpcs

Installed `bundlesize` NPM package
  package.json
  yarn.lock
Due: none

Added `bundlesize` configuration and corresponding NPM script
  package.json
Due: none

Added 'Check bundle size' step to `main` Github actions workflow
  .github/workflows/main.yml
Due: none

Changed header from H2 to H1
  README.md
Due: none

Added StyleCI badge
  README.md
Due: none

Installed `spatie/laravel-feed` PHP package
  composer.json
  composer.lock
Due: none

Added RSS feed route
  routes/web.php
Due: ./vendor/bin/phpcs

Added tag to `head` so that feed readers can discover the RSS feed
  resources/views/partials/general/head.blade.php
Due: ./vendor/bin/phpcs

Published `spatie/laravel-feed` package configuration file
  config/feed.php
Due: ./vendor/bin/phpcs

Added `toFeedItem` and `getFeedItems` methods to `Article` model in order to generate RSS feed of articles
  app/Article.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  app/Article.php
Due: ./vendor/bin/phpcs

Increased minimum required version of PHP from `7.2` to `7.3`
  composer.json
Due: none

Installed `laravel/telescope` PHP package
  composer.json
  composer.lock
Due: none

Removed unused `boot` method
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/phpcs

Published Laravel Telescope assets
  app/Providers/TelescopeServiceProvider.php
  config/telescope.php
  public/vendor/telescope/app-dark.css
  public/vendor/telescope/app.css
  public/vendor/telescope/app.js
  public/vendor/telescope/favicon.ico
  public/vendor/telescope/mix-manifest.json
Due: ./vendor/bin/phpcs, eslint

Registered Laravel Telescope service provider if local environment
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/phpcs

Scheduled the Laravel Telescope prune command to run daily in order to remove excess database entries
  app/Console/Kernel.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  config/telescope.php
Due: ./vendor/bin/phpcs

Created contact controller
  app/Http/Controllers/ContactController.php
Due: ./vendor/bin/phpcs

Created contact form request
  app/Http/Requests/ContactRequest.php
Due: ./vendor/bin/phpcs

Created dedicated contact routes file
  app/Providers/RouteServiceProvider.php
  routes/contact.php
  routes/web.php
Due: ./vendor/bin/phpcs

Created contact tests
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Created contact page
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Removed wrapper elements from `errors` and `session` Blade partials in order to control styling externally
  resources/views/components/general/errors.blade.php
  resources/views/components/general/session.blade.php
  resources/views/partials/articles/newsletter.blade.php
Due: ./vendor/bin/phpcs

Created about page
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs

Ensured links inside paragraphs are styled
  resources/sass/app.scss
Due: stylelint --syntax=scss

Updated `default` layout styling to ensure footer remains at the bottom of the page, regardless of whether there's enough page content to push it down
  resources/views/layouts/default.blade.php
Due: ./vendor/bin/phpcs

Removed unused `use` statement
  tests/Feature/Newsletter/NewsletterTest.php
Due: ./vendor/bin/phpcs

Refactored `NewsletterController` to a single action controller
  app/Http/Controllers/NewsletterController.php
  routes/newsletter.php
Due: ./vendor/bin/phpcs

Added missing links to `info` Blade partial
  resources/views/partials/articles/info.blade.php
Due: ./vendor/bin/phpcs

Corrected `getSubscribeRoute` helper function by passing data to `post` method rather than as parameters to the `route` helper function
  tests/Feature/Newsletter/NewsletterTest.php
Due: ./vendor/bin/phpcs

Improved newsletter test by ensuring session has correct input data
  tests/Feature/Newsletter/NewsletterTest.php
Due: ./vendor/bin/phpcs

Moved contact test to dedicated contact test class
  tests/Feature/Pages/ContactTest.php
  tests/Feature/Pages/PagesTest.php
Due: ./vendor/bin/phpcs

Corrected `getContactRoute` helper function by passing data to `post` method rather than as parameters to the `route` helper function
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Added `errorBag` property to contact test class rather than using 'magic' string
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Changed `getContactRoute` helper method from `private` to `protected`
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Updated test to ensure route displays the correct view
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Refactored `ContactController` from a single action controller to a standard controller
  app/Http/Controllers/ContactController.php
  routes/contact.php
Due: ./vendor/bin/phpcs

Installed `timacdonald/log-fake` PHP package
  composer.json
  composer.lock
Due: none
