Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Updated contact test to ensure new contact is logged
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Removed unused environment variables
  .env.example
Due: none

Replaced hardcoded email and social handles with values from `contact` and `social` configuration files
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Corrected indentation
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Updated contact page copy
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Removed unnecessary button attributes
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Reordered main navigation
  resources/views/partials/general/header.blade.php
Due: ./vendor/bin/phpcs

Created test to ensure contact details are persisted in the database
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Created `contacts` table migration
  database/migrations/2019_01_01_500000_create_contacts_table.php
Due: ./vendor/bin/phpcs

Created `Contact` model
  app/Contact.php
Due: ./vendor/bin/phpcs

Created `ContactFactory`
  database/factories/ContactFactory.php
Due: ./vendor/bin/phpcs

Created `ContactsTableSeeder` and added to `DatabaseSeeder`
  database/seeds/ContactsTableSeeder.php
  database/seeds/DatabaseSeeder.php
Due: ./vendor/bin/phpcs

Updated the `ContactController`'s `store` method to persist contact details in the database
  app/Http/Controllers/ContactController.php
Due: ./vendor/bin/phpcs

Ensured user is redirected back to the contact page when form validation fails
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Installed Laravel Dusk
  composer.json
  composer.lock
Due: none

Created `hasElement` Browser macro in Dusk service provider
  app/Providers/DuskServiceProvider.php
Due: ./vendor/bin/phpcs

Registered Dusk service provider
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/phpcs

Removed unused `boot` method from `AppServiceProvider`
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/phpcs

Removed unnecessary docblock from `register` method
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/phpcs

Created `draft`, `scheduled` and `published` `ArticleFactory` states
  database/factories/ArticleFactory.php
Due: ./vendor/bin/phpcs

Added unit tests to cover `toFeedItem` and `getFeedItems` methods on the `Article` model
  tests/Unit/ArticleTest.php
Due: ./vendor/bin/phpcs

Created feed test
  tests/Feature/Feed/FeedTest.php
Due: ./vendor/bin/phpcs

Created `DuskTestCase`
  tests/DuskTestCase.php
Due: ./vendor/bin/phpcs

Added Gitignore files in Dusk `screenshot` and `console` directories
  tests/Browser/console/.gitignore
  tests/Browser/screenshots/.gitignore
Due: none

Created feed browser test
  tests/Browser/FeedTest.php
Due: ./vendor/bin/phpcs

Added Laravel Dusk step to Github Actions main workflow
  .github/workflows/main.yml
Due: none

Added install Chrome Driver step to Github Actions main workflow
  .github/workflows/main.yml
Due: none

Corrected Laravel Dusk Github Actions steps
  .github/workflows/main.yml
Due: none

Ensure Laravel Dusk stops on failure and error when executing in GitHub Actions
  .github/workflows/main.yml
Due: none

Created Dusk testing environment file
  .env.dusk.testing
Due: none

Add renovate.json
  renovate.json
Due: none

Apply fixes from StyleCI
  app/Console/Kernel.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Controllers/Controller.php
  app/Http/Middleware/TrustProxies.php
  app/Providers/BroadcastServiceProvider.php
  app/Providers/EventServiceProvider.php
  app/Providers/RouteServiceProvider.php
  app/User.php
  bootstrap/app.php
  config/cache.php
  config/filesystems.php
  config/session.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2014_10_12_100000_create_password_resets_table.php
  public/index.php
  server.php
  tests/CreatesApplication.php
Due: ./vendor/bin/phpcs

Pin dependencies
  composer.json
  composer.lock
  package-lock.json
  package.json
Due: none

Update dependency axios to ^0.18.0 [SECURITY]
  package-lock.json
  package.json
Due: none

Updated to the latest version of `fzaninotto/faker`
  composer.json
  composer.lock
Due: none

Updated `laravel/framework`
  composer.lock
Due: none

Updated Composer packages
  composer.lock
Due: none

Removed all Telescope assets from version control
  public/vendor/telescope/app-dark.css
  public/vendor/telescope/app.css
  public/vendor/telescope/app.js
  public/vendor/telescope/favicon.ico
  public/vendor/telescope/mix-manifest.json
Due: eslint

Added `public/vendor` to Git ignore file to ensure Telescope assets aren't added to source control
  .gitignore
Due: none

Removed unnecessary `gate` method from `TelescopeServiceProvider` as Telescope won't be accessible in non-local environments
  app/Providers/TelescopeServiceProvider.php
Due: ./vendor/bin/phpcs
