Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Added contact page title to language file
  resources/lang/en/contact.php
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Added article category index page title to language file
  resources/lang/en/article_category.php
  resources/views/categories/index.blade.php
Due: ./vendor/bin/phpcs

Added article series page title to language file
  resources/lang/en/article_series.php
  resources/views/series/index.blade.php
Due: ./vendor/bin/phpcs

Installed `laravel-mix-purgecss` to remove unused CSS and reduce bundle size
  package.json
  webpack.mix.js
  yarn.lock
Due: eslint

Removed unused Sass files
  resources/sass/_site.scss
  resources/sass/elements/_buttons.scss
  resources/sass/elements/_code.scss
  resources/sass/elements/_form.scss
  resources/sass/elements/_inputs.scss
  resources/sass/elements/_links.scss
  resources/sass/elements/_pre.scss
  resources/sass/elements/_rich-text-editor.scss
  resources/sass/elements/_select.scss
  resources/sass/elements/_table.scss
  resources/sass/elements/_textarea.scss
  resources/sass/modules/articles/_article-edit.scss
  resources/sass/modules/articles/_article-info.scss
  resources/sass/modules/articles/_article-newsletter.scss
  resources/sass/modules/articles/_article-overview.scss
  resources/sass/modules/articles/_article-share.scss
  resources/sass/modules/articles/_article.scss
  resources/sass/modules/articles/_related-articles.scss
  resources/sass/modules/author/_author-email.scss
  resources/sass/modules/author/_author-links.scss
  resources/sass/modules/general/_header-text.scss
  resources/sass/modules/general/_pagination.scss
  resources/sass/modules/general/_rte.scss
  resources/sass/pages/_landing.scss
  resources/sass/partials/_aside.scss
  resources/sass/partials/_footer.scss
  resources/sass/partials/_header.scss
  resources/sass/utilities/_animations.scss
  resources/sass/utilities/_syntax-highlighting.scss
  resources/sass/utilities/_type.scss
  resources/sass/utilities/_variables.scss
Due: stylelint --syntax=scss

Removed `core-sass` NPM package as no longer being used
  package.json
  yarn.lock
Due: none

Extracted custom type styling
  resources/sass/app.scss
  resources/sass/utilities/_type.scss
Due: stylelint --syntax=scss

Extracted custom grid utility class
  resources/sass/app.scss
  resources/sass/utilities/_grid.scss
Due: stylelint --syntax=scss

Extracted custom markdown utility class
  resources/sass/app.scss
  resources/sass/utilities/_markdown.scss
Due: stylelint --syntax=scss

Removed custom rotate utilities classes as not being used
  resources/sass/app.scss
Due: stylelint --syntax=scss

Updated comments
  resources/sass/app.scss
Due: stylelint --syntax=scss

Imported custom type base styling
  resources/sass/app.scss
  resources/sass/base/_type.scss
Due: stylelint --syntax=scss

Removed Inter CSS import
  resources/sass/app.scss
Due: stylelint --syntax=scss

Load Inter font via Google Fonts to improve performance
  resources/views/partials/general/head.blade.php
Due: ./vendor/bin/phpcs

Consolidate font sizes to just black and bold to reduce the number of fonts loaded in order to improve performance
  resources/views/partials/articles/inSeries.blade.php
  resources/views/partials/articles/newsletter.blade.php
  resources/views/partials/articles/preview.blade.php
Due: ./vendor/bin/phpcs

Replaced `graham-campbell/markdown` with `calebporzio/gitdown`
  composer.json
  composer.lock
  resources/views/articles/show.blade.php
  tests/Feature/Article/ArticleShowTest.php
Due: ./vendor/bin/phpcs

Removed `highlight.js` NPM package as no longer needed
  package.json
  resources/js/app.js
  resources/sass/app.scss
  yarn.lock
Due: stylelint --syntax=scss, eslint

Installed `@primer/css` and `github-syntax-light` to add Markdown code highlighting
  package.json
  resources/sass/app.scss
  resources/views/articles/show.blade.php
  yarn.lock
Due: ./vendor/bin/phpcs, stylelint --syntax=scss

Removed custom markdown styling as no longer required
  resources/sass/utilities/_markdown.scss
Due: stylelint --syntax=scss

Published Gitdown configuration file
  config/gitdown.php
Due: ./vendor/bin/phpcs

Added GitHub token environment variable
  .env.example
Due: none

Added PurgeCSS configuration to ensure GitHub markdown and syntax highlighting selectors are whilelisted
  webpack.mix.js
Due: eslint

Improved readability of Laravel Mix config file by splitting up configuration into various sections
  webpack.mix.js
Due: eslint

Corrected markdown comment
  resources/sass/app.scss
Due: stylelint --syntax=scss

Corrected comment indentation
  resources/sass/app.scss
Due: stylelint --syntax=scss

Add `tailwind` to Stylelint ignore at rules config
  .stylelintrc
Due: none

Add `screen` to Stylelint ignore at rules config
  .stylelintrc
Due: none

Removed bootstrap JavaScript file as not being used
  resources/js/app.js
  resources/js/bootstrap.js
Due: eslint

Added SCSS and JavaScript linting NPM scripts
  package.json
Due: none

Added JavaScript and CSS linting steps to main GitHub Actions workflow
  .github/workflows/main.yml
Due: none

Reduce bundle size thresholds
  package.json
Due: none

Added cache bootstrap and config file steps to main GitHub Action workflow
  .github/workflows/main.yml
Due: none

Updated PHP test step in main GitHub Action workflow
  .github/workflows/main.yml
Due: none

Corrected PHP tests step name
  .github/workflows/main.yml
Due: none

Removed cache bootstrap file step as can't cache routes
  .github/workflows/main.yml
Due: none

Revert change to PHP tests step
  .github/workflows/main.yml
Due: none

Removed caching steps
  .github/workflows/main.yml
Due: none

Updated PHP tests step command
  .github/workflows/main.yml
Due: none

Updated NPM test script to use new Laravel test command
  package.json
Due: none

Added ARIA label to newsletter signup input
  resources/views/partials/articles/newsletter.blade.php
Due: ./vendor/bin/phpcs
