Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

Create ClearsResponseCache trait
  app/Models/Article.php
  app/Models/ArticleCategory.php
  app/Models/ArticleSeries.php
  app/Models/User.php
  app/Traits/ClearsResponseCache.php
Due: ./vendor/bin/phpcs

Update dependency laravel/framework to v8.7.1
  composer.json
  composer.lock
Due: none

Update dependency laravel/horizon to v5.2.0
  composer.json
  composer.lock
Due: none

Ensure auth routes aren't cached
  app/Http/Controllers/Auth/LoginController.php
Due: ./vendor/bin/phpcs

Install predis
  composer.json
  composer.lock
  config/database.php
Due: ./vendor/bin/phpcs

Refactor response caching to be explicit
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Kernel.php
  routes/admin.php
  routes/blog.php
  routes/contact.php
  routes/web.php
Due: ./vendor/bin/phpcs

Set up response caching
  app/Http/Kernel.php
  composer.json
  composer.lock
  config/responsecache.php
  routes/admin.php
  routes/blog.php
  routes/contact.php
Due: ./vendor/bin/phpcs

Resolve lock file conflicts
  composer.lock
Due: none

Update Composer lock file
  composer.lock
Due: none

Update dependency spatie/laravel-honeypot to v3
  composer.json
  composer.lock
Due: none

Update dependency guzzlehttp/guzzle to v7.1.1
  composer.json
  composer.lock
Due: none

Add HasFactory traits to all models
  app/Models/Article.php
  app/Models/ArticleCategory.php
  app/Models/ArticleSeries.php
  app/Models/Contact.php
  app/Models/NewsletterSubscription.php
Due: ./vendor/bin/phpcs

Refactored to class based factories
  database/factories/ArticleCategoryFactory.php
  database/factories/ArticleFactory.php
  database/factories/ArticleSeriesFactory.php
  database/factories/ContactFactory.php
  database/factories/NewsletterSubscriptionFactory.php
  database/factories/UserFactory.php
Due: ./vendor/bin/phpcs

Updated database seeders to use class based factory syntax
  database/seeders/ArticleCategoriesTableSeeder.php
  database/seeders/ArticleCategoriesTableTestSeeder.php
  database/seeders/ArticleSeriesTableSeeder.php
  database/seeders/ArticleSeriesTableTestSeeder.php
  database/seeders/ArticleTableSeeder.php
  database/seeders/ArticleTableTestSeeder.php
  database/seeders/ContactsTableSeeder.php
  database/seeders/NewsletterSubscriptionsTableSeeder.php
  database/seeders/UsersTableSeeder.php
  database/seeders/UsersTableTestSeeder.php
Due: ./vendor/bin/phpcs

Remove factory classmap as no longer needed
  composer.json
Due: none

Remove legacy factory package as no longer needed
  composer.json
  composer.lock
Due: none

Refactor tests to use class based factory syntax
  tests/Feature/Admin/Article/ArticleCreateTest.php
  tests/Feature/Admin/Article/ArticleDestroyTest.php
  tests/Feature/Admin/Article/ArticleEditTest.php
  tests/Feature/Admin/Article/ArticleIndexTest.php
  tests/Feature/Admin/DashboardTest.php
  tests/Feature/Article/ArticleIndexTest.php
  tests/Feature/Article/ArticleShowTest.php
  tests/Feature/ArticleCategory/ArticleCategoryIndexTest.php
  tests/Feature/ArticleCategory/ArticleCategoryShowTest.php
  tests/Feature/ArticleSeries/ArticleSeriesIndexTest.php
  tests/Feature/ArticleSeries/ArticleSeriesShowTest.php
  tests/Feature/Auth/LoginTest.php
  tests/Feature/Feed/FeedTest.php
  tests/Feature/Jobs/ProcessMailChimpWebhookJobTest.php
  tests/Feature/Listeners/UnsubscribeNewsletterSubscriptionTest.php
  tests/Feature/Listeners/UpdateNewsletterSubscriptionEmailTest.php
  tests/Unit/ArticleCategoryTest.php
  tests/Unit/ArticleSeriesTest.php
  tests/Unit/ArticleTest.php
  tests/Unit/NewsletterSubscriptionTest.php
  tests/Unit/Schemas/BlogPostingSchemaTest.php
  tests/Unit/UserTest.php
Due: ./vendor/bin/phpcs

Fixed failing tests
  tests/Feature/Admin/Article/ArticleEditTest.php
  tests/Unit/Schemas/BlogPostingSchemaTest.php
Due: ./vendor/bin/phpcs

Remove Google Tag Manager
  .env.example
  config/services.php
  resources/views/partials/general/gtm.blade.php
  resources/views/partials/general/head.blade.php
  resources/views/partials/general/head/gtm.blade.php
Due: ./vendor/bin/phpcs

Fixed static analysis issues
  database/factories/NewsletterSubscriptionFactory.php
  phpstan.neon
Due: ./vendor/bin/phpcs

Update dependency spatie/laravel-newsletter to v4.8.2
  composer.json
  composer.lock
Due: none

Update dependency spatie/laravel-csp to v2.6.2
  composer.json
  composer.lock
Due: none

Update dependency sentry/sentry-laravel to v2.0.1
  composer.json
  composer.lock
Due: none

Remove GitHub Markdown styling
  package.json
  resources/sass/app.scss
  yarn.lock
Due: stylelint --syntax=scss

Installed CommonMark highlighter package
  composer.json
  composer.lock
Due: none

Created basic Markdown styling
  resources/sass/utilities/_markdown.scss
Due: stylelint --syntax=scss

Added basic highlight styling
  resources/sass/app.scss
  resources/sass/utilities/_highlight.scss
Due: stylelint --syntax=scss

Created basic Markdown Blade component
  resources/views/components/markdown.blade.php
Due: ./vendor/bin/phpcs

Created CommonMark service to handle converting Markdown to HTML
  app/Services/CommonMark/CommonMark.php
Due: ./vendor/bin/phpcs

Created formatted body attribute to handle formatting body to HTML
  app/Models/Article.php
Due: ./vendor/bin/phpcs

Refactor article show view to use new Markdown Blade component and formatted body attribute
  resources/views/articles/show.blade.php
Due: ./vendor/bin/phpcs

Move Policy class to correct directory
  app/Services/Csp/Policy.php
Due: ./vendor/bin/phpcs

Update dependency facade/ignition to v2.3.8
  composer.json
  composer.lock
Due: none

Update dependency phpunit/phpunit to v9.4.0
  composer.json
  composer.lock
Due: none

Replace Markdown with CommonMark
  composer.json
  composer.lock
  tests/Feature/Article/ArticleShowTest.php
Due: ./vendor/bin/phpcs

Add article formatted body attribute test
  tests/Unit/ArticleTest.php
Due: ./vendor/bin/phpcs

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  stylelint --syntax=scss: any of: *.scss
  eslint: (any of: *.vue) or (any of: *.js)
