Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Update dependency laravel/framework to v7.26.1
  composer.json
  composer.lock
Due: none

Update dependency phpunit/phpunit to v9.3.8
  composer.json
  composer.lock
Due: none

Update dependency laravel/slack-notification-channel to v2.2.0
  composer.json
  composer.lock
Due: none

Update dependency laravel/dusk to v6.5.1
  composer.json
  composer.lock
Due: none

Update dependency lint-staged to v10.2.13
  package.json
  yarn.lock
Due: none

Update dependency axios to v0.20.0
  package.json
  yarn.lock
Due: none

Update dependency barryvdh/laravel-debugbar to v3.4.2
  composer.json
  composer.lock
Due: none

Update dependency laravel-mix to v5.0.5
  package.json
  yarn.lock
Due: none

Update dependency sass-loader to v10
  package.json
  yarn.lock
Due: none

Update dependency vue-template-compiler to v2.6.12
  package.json
  yarn.lock
Due: none

Update dependency stylelint to v13.7.0
  package.json
  yarn.lock
Due: none

Update dependency symfony/css-selector to v5.1.4
  composer.json
  composer.lock
Due: none

Add swap environment plugin
  cypress/plugins/index.js
  cypress/plugins/swap-env.js
  cypress/support/index.js
Due: eslint

Update dependency laravel/framework to v7.27.0
  composer.json
  composer.lock
Due: none

Update dependency eslint to v7.8.0
  package.json
  yarn.lock
Due: none

Update dependency laravel/horizon to v4.3.4
  composer.json
  composer.lock
Due: none

Update dependency nunomaduro/larastan to v0.6.3
  composer.json
  composer.lock
Due: none

Add publish date and time accessor tests
  app/Traits/CanBePublished.php
  tests/Feature/Admin/Article/ArticleCreateTest.php
Due: ./vendor/bin/phpcs

Add publish date and time must be valid tests
  app/Http/Requests/ArticleRequest.php
  tests/Feature/Admin/Article/ArticleEditTest.php
Due: ./vendor/bin/phpcs

Attached articles to author
  tests/Feature/Admin/Article/ArticleEditTest.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  app/Http/Requests/ArticleRequest.php
Due: ./vendor/bin/phpcs

Remove unnecessary form request authorize methods
  app/Http/Requests/ArticleCategoryRequest.php
  app/Http/Requests/ArticleRequest.php
  app/Http/Requests/ContactRequest.php
  app/Http/Requests/NewsletterRequest.php
  app/Http/Requests/UserRequest.php
Due: ./vendor/bin/phpcs

Remove unused `saveSeries` method
  app/Traits/InSeries.php
Due: ./vendor/bin/phpcs

Convert all form request rules to arrays
  app/Http/Requests/ContactRequest.php
  app/Http/Requests/NewsletterRequest.php
  app/Http/Requests/UserRequest.php
Due: ./vendor/bin/phpcs

Tidied up update action method
  app/Http/Controllers/Admin/ArticleController.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  app/Http/Requests/ContactRequest.php
Due: ./vendor/bin/phpcs

Add missing trailing comma
  app/Http/Requests/ContactRequest.php
Due: ./vendor/bin/phpcs

Convert all form request rules to arrays
  app/Http/Requests/ArticleCategoryRequest.php
  app/Http/Requests/ArticleRequest.php
Due: ./vendor/bin/phpcs

Remove unused Blade partials
  resources/views/admin/partials/form/input.blade.php
  resources/views/admin/partials/form/textarea.blade.php
Due: ./vendor/bin/phpcs

Created section-header Blade component
  resources/views/admin/articles/create.blade.php
  resources/views/admin/articles/edit.blade.php
  resources/views/admin/articles/index.blade.php
  resources/views/admin/dashboard.blade.php
  resources/views/components/admin/section-header.blade.php
Due: ./vendor/bin/phpcs

Ensure article is saved after removing article series relationship
  app/Http/Controllers/Admin/ArticleController.php
Due: ./vendor/bin/phpcs

Improve select Blade component by supporting selected items
  app/View/Components/Select.php
  resources/views/admin/articles/edit.blade.php
Due: ./vendor/bin/phpcs

Remove unused email and reset auth views
  resources/views/auth/passwords/email.blade.php
  resources/views/auth/passwords/reset.blade.php
Due: ./vendor/bin/phpcs

Refactor login view to use input Blade component
  resources/views/auth/login.blade.php
Due: ./vendor/bin/phpcs

Refactor default button to Blade component
  resources/views/admin/articles/create.blade.php
  resources/views/admin/articles/edit.blade.php
  resources/views/components/admin/buttons/default.blade.php
  resources/views/layouts/admin.blade.php
Due: ./vendor/bin/phpcs

Handle empty article category array in request
  app/Http/Controllers/Admin/ArticleController.php
  app/Http/Requests/ArticleRequest.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  app/Http/Controllers/Admin/ArticleController.php
Due: ./vendor/bin/phpcs

Installed blade-ui-kit/blade-heroicons
  composer.json
  composer.lock
Due: none
