Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Revert default tracking
  resources/views/layouts/app.blade.php
Due: ./vendor/bin/phpcs

Increase contact mobile screenshot viewport size
  cypress/integration/contact/__image_snapshots__/Contact  matches mobile screenshot #0.png
  cypress/integration/contact/contact.spec.js
Due: eslint

Updated packages
  package.json
  yarn.lock
Due: none

Ensure Cypress uses Chrome
  package.json
Due: none

Correct linting
  tailwind.config.js
Due: eslint

Test different viewport size
  cypress/integration/contact/__image_snapshots__/Contact  matches mobile screenshot #0.png
  cypress/integration/contact/contact.spec.js
Due: eslint

Remove failing test
  cypress/integration/contact/__image_snapshots__/Contact  matches mobile screenshot #0.png
  cypress/integration/contact/contact.spec.js
Due: eslint

Remove Laravel Dusk
  .env.dusk.testing
  .github/workflows/main.yml
  app/Providers/AppServiceProvider.php
  app/Providers/DuskServiceProvider.php
  composer.json
  composer.lock
  tests/Browser/console/.gitignore
  tests/Browser/screenshots/.gitignore
  tests/DuskTestCase.php
Due: ./vendor/bin/phpcs

Pin `laracasts/cypress`
  composer.json
Due: none

Remove unnecessary Cypress CI environment file
  .env.ci.cypress
  cypress/scripts/after
  cypress/scripts/before
  cypress/scripts/ci/after
  cypress/scripts/ci/before
  cypress/support/index.js
  cypress/utilities/getAfterScriptPath.js
  cypress/utilities/getBeforeScriptPath.js
  cypress/utilities/index.js
Due: eslint

Created login testing
  cypress/integration/auth/__image_snapshots__/Login  matches desktop screenshot #0.png
  cypress/integration/auth/login.spec.js
Due: eslint

Pass `id` attribute though to form Blade component
  resources/views/auth/login.blade.php
  resources/views/components/form.blade.php
Due: ./vendor/bin/phpcs

Update Cypress constants
  cypress/constants.js
Due: eslint

Add login form ID selector
  cypress/selectors.js
Due: eslint

Update Cypress strings
  cypress/strings.js
Due: eslint

Add page title and heading tests
  cypress/integration/about/about.spec.js
  cypress/integration/blog/article.spec.js
  cypress/integration/blog/categories.spec.js
  cypress/integration/blog/index.spec.js
  cypress/integration/blog/series.spec.js
Due: eslint

Updated string variable names
  cypress/integration/auth/login.spec.js
  cypress/integration/contact/contact.spec.js
Due: eslint

Create admin article index tests
  cypress/integration/admin/article/index.spec.js
Due: eslint

Created test article ID constant
  cypress/constants.js
  cypress/integration/admin/article/edit.spec.js
Due: eslint

Create admin dashboard tests
  cypress/integration/admin/dashboard.spec.js
  cypress/strings.js
Due: eslint

Create test article title constant
  cypress/constants.js
  cypress/integration/admin/article/index.spec.js
  cypress/strings.js
Due: eslint

Remove `only` call
  cypress/integration/blog/article.spec.js
Due: eslint

Added `id` attributes to admin article create and edit forms
  cypress/integration/admin/article/edit.spec.js
  cypress/selectors.js
  resources/views/admin/articles/create.blade.php
Due: ./vendor/bin/phpcs, eslint

Added `id` attributes to admin article edit form
  resources/views/admin/articles/edit.blade.php
Due: ./vendor/bin/phpcs

Created admin create article tests
  cypress/integration/admin/article/create.spec.js
  cypress/strings.js
Due: eslint

Moved form errors inside `form` element
  resources/views/admin/articles/create.blade.php
Due: ./vendor/bin/phpcs

Updated Cypress screenshots
  cypress/integration/admin/article/__image_snapshots__/Admin Article Create  matches desktop screenshot #0.png
  cypress/integration/admin/article/__image_snapshots__/Admin Article Edit  matches desktop screenshot #0.png
  cypress/integration/admin/article/__image_snapshots__/Admin Article Index  matches desktop screenshot #0.png
  cypress/integration/auth/__image_snapshots__/Login  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches tablet screenshot #0.png
Due: none

Updated test article ID
  cypress/constants.js
Due: eslint

Added missing leading slash to path
  cypress/integration/blog/article.spec.js
Due: eslint

Updated article category and series table seeder to ensure consistent article relationships
  database/seeds/ArticleCategoriesTableTestSeeder.php
  database/seeds/ArticleSeriesTableTestSeeder.php
Due: ./vendor/bin/phpcs

Correct test emails
  cypress/integration/auth/login.spec.js
Due: eslint

Refresh database before each test run
  cypress/support/index.js
Due: eslint

Removed unused tests
  cypress/integration/admin/article/edit.spec.js
  cypress/selectors.js
Due: eslint

Run testing command first
  cypress/support/index.js
Due: eslint

Refresh database before each test
  cypress/scripts/ci/before
  cypress/support/index.js
Due: eslint

Re-add remove Git ignore file
  database/.gitignore
Due: none

Refactor Cypress before and after hooks
  .env.cypress
  cypress.json
  cypress/plugins/env.js
  cypress/plugins/index.js
  cypress/scripts/after
  cypress/scripts/before
  cypress/scripts/ci/before
  cypress/support/index.js
  package.json
Due: eslint

Remove refresh database command
  cypress/support/index.js
Due: eslint

Run refresh database command locally
  cypress/support/index.js
Due: eslint
