Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

Removed unnecessary `unsigned` method chaining as is already an `unsignedInteger`
  database/migrations/2019_01_01_200000_create_articles_table.php
Due: ./vendor/bin/phpcs

Updated Laravel Mix and corresponding dependencies to latest version
  package.json
Due: none

Removed Blade partials as no longer needed
  resources/views/partials/articles/categories.blade.php
  resources/views/partials/articles/excerpt.blade.php
  resources/views/partials/articles/featured-image.blade.php
  resources/views/partials/articles/header.blade.php
  resources/views/partials/articles/index.blade.php
  resources/views/partials/articles/posted-on.blade.php
  resources/views/partials/articles/read-more.blade.php
  resources/views/partials/articles/title.blade.php
  resources/views/partials/author/email.blade.php
Due: ./vendor/bin/phpcs

Converted Blade partials to use Tailwind utility classes rather than custom classes, as well updated designs
  resources/views/articles/index.blade.php
  resources/views/articles/show.blade.php
  resources/views/categories/show.blade.php
  resources/views/components/general/errors.blade.php
  resources/views/components/general/pagination.blade.php
  resources/views/components/general/session.blade.php
  resources/views/layouts/article.blade.php
  resources/views/layouts/default.blade.php
  resources/views/partials/articles/info.blade.php
  resources/views/partials/articles/newsletter.blade.php
  resources/views/partials/articles/share.blade.php
  resources/views/partials/general/footer.blade.php
  resources/views/partials/general/head.blade.php
  resources/views/partials/general/header.blade.php
Due: ./vendor/bin/phpcs

Created basic `about`, `contact` and `services` pages
  resources/views/pages/about.blade.php
  resources/views/pages/contact.blade.php
  resources/views/pages/services.blade.php
Due: ./vendor/bin/phpcs

Installed TailwindCSS
  package.json
  webpack.mix.js
Due: eslint

Created basic Tailwind configuration file
  tailwind.config.js
Due: eslint

Apply fixes from StyleCI
  app/Article.php
  tests/Feature/ArticleCategory/ArticleCategoryShowTest.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  app/Article.php
Due: ./vendor/bin/phpcs

Corrected order of trait `use` statements
  app/Article.php
Due: ./vendor/bin/phpcs

Extracted `next` and `previous` methods from `Article` model and into a dedicated trait to allow code to be reusable across modals
  app/Article.php
  app/Traits/InSeries.php
Due: ./vendor/bin/phpcs

Extracted `isNew` and `isOld` methods from `Article` model and into a dedicated trait to allow code to be reusable across models
  app/Article.php
  app/Traits/HasAge.php
Due: ./vendor/bin/phpcs

Updated article overview styling
  resources/assets/sass/modules/articles/_article-overview.scss
Due: stylelint --syntax=scss

Removed letter spacing styling from `body` element
  resources/assets/sass/utilities/_type.scss
Due: stylelint --syntax=scss

Updated Sass variables
  resources/assets/sass/utilities/_variables.scss
Due: stylelint --syntax=scss

Updated application styling bootstrap file after migrating to TailwindCSS
  resources/assets/sass/app.scss
Due: stylelint --syntax=scss

Updated application JavaScript bootstrap file by removing unnecessary comment and initialising Highlight.js
  resources/assets/js/app.js
Due: eslint

Installed Highlight.js NPM package
  package.json
  yarn.lock
Due: none

Removed trailing comma
  package.json
Due: none

Installed TailwindCSS NPM package
  package.json
  yarn.lock
Due: none

Installed additional Laravel Mix dependencies
  package.json
  yarn.lock
Due: none

Added missing `use` statement
  app/Traits/InSeries.php
Due: ./vendor/bin/phpcs

Updated `axios` NPM package to latest version to resolve security vulnerability
  package.json
  yarn.lock
Due: none

Created `main` GitHub Actions workflow
   .github/ workflows/main.yml
Due: none

Created `main` GitHub Actions workflow
  .github/workflows/main.yml
Due: none

Apply fixes from StyleCI
  app/Console/Kernel.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Controllers/Controller.php
  app/Http/Middleware/TrustProxies.php
  app/Providers/BroadcastServiceProvider.php
  app/Providers/EventServiceProvider.php
  app/Providers/RouteServiceProvider.php
  app/User.php
  bootstrap/app.php
  config/cache.php
  config/filesystems.php
  config/session.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2014_10_12_100000_create_password_resets_table.php
  public/index.php
  server.php
  tests/CreatesApplication.php
Due: ./vendor/bin/phpcs

Created `withSeries` local scope in order to eager load `series` relationship
  app/Traits/InSeries.php
Due: ./vendor/bin/phpcs

Eager loaded article `series` relationship to reduce database queries
  app/Http/Controllers/ArticleController.php
Due: ./vendor/bin/phpcs

Corrected file indentation
   .github/ workflows/main.yml
Due: none

Removed article category related code from `ArticleController` as neither article index or show views made any use of article categories
  app/Http/Controllers/ArticleController.php
Due: ./vendor/bin/phpcs

Corrected indentation
  .github/workflows/main.yml
Due: none

Removed incorrect GitHub Actions workflow directory
   .github/ workflows/main.yml
Due: none

Added additional steps to install NPM dependencies and generate assets
  .github/workflows/main.yml
Due: none

Moved 'Generated key' step to after the 'Install PHP dependencies' step
  .github/workflows/main.yml
Due: none

Added addition steps to cache configuration files, routes and views
  .github/workflows/main.yml
Due: none

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  stylelint --syntax=scss: any of: *.scss
  eslint: (any of: *.vue) or (any of: *.js)
