Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

Updated article Cypress tests
  cypress/integration/blog/article.spec.js
Due: eslint

Added production environment check to NewsletterController
  app/Http/Controllers/NewsletterSubscriptionController.php
Due: ./vendor/bin/phpcs

Remove post checkbox Git hook
  package.json
Due: none

Remove swap env task
  cypress/plugins/index.js
  cypress/plugins/swap-env.js
  cypress/support/index.js
Due: eslint

Create Cypress pre and post run scripts
  cypress/post-run
  cypress/pre-run
  cypress/support/index.js
Due: eslint

Revert production environment change
  app/Http/Controllers/NewsletterSubscriptionController.php
Due: ./vendor/bin/phpcs

Remove successful subscription test
  cypress/integration/blog/article.spec.js
Due: eslint

Correct Cypress after hook
  cypress/support/index.js
Due: eslint

Update Cypress environment file
  .env.cypress
Due: none

Update Cypress screenshots
  cypress/integration/about/__image_snapshots__/About  matches desktop screenshot #0.png
  cypress/integration/about/__image_snapshots__/About  matches mobile screenshot #0.png
  cypress/integration/about/__image_snapshots__/About  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches tablet screenshot #0.png
  cypress/integration/contact/__image_snapshots__/Contact  matches desktop screenshot #0.png
  cypress/integration/contact/__image_snapshots__/Contact  matches tablet screenshot #0.png
Due: none

Add 'environment' Cypress environment variable
  cypress.json
Due: none

Created local and CI Cypress before and after scripts
  cypress/scripts/ci/after
  cypress/scripts/ci/before
  cypress/scripts/local/after
  cypress/scripts/local/before
Due: none

Add test database table seeders
  .github/workflows/main.yml
  database/seeds/ArticleCategoriesTableTestSeeder.php
  database/seeds/ArticleSeriesTableTestSeeder.php
  database/seeds/ArticleTableTestSeeder.php
  database/seeds/DatabaseTestSeeder.php
  database/seeds/UsersTableTestSeeder.php
Due: ./vendor/bin/phpcs

Correct factory attribute order
  database/factories/ArticleCategoryFactory.php
  database/factories/ArticleSeriesFactory.php
Due: ./vendor/bin/phpcs

Remove unused use statement
  database/seeds/ArticleSeriesTableSeeder.php
Due: ./vendor/bin/phpcs

Improve formatting
  database/seeds/ArticleTableSeeder.php
Due: ./vendor/bin/phpcs

Rename CI environment file
  .env.ci
  .env.ci.testing
  .github/workflows/main.yml
Due: none

Create Cypress CI environment file
  .env.ci.cypress
Due: none

Ensure Cypress uses `ci` environment
  .github/workflows/main.yml
Due: none

Run Cypress before and after scripts
  cypress/support/index.js
  cypress/utilities/getAfterScriptPath.js
  cypress/utilities/getBeforeScriptPath.js
  cypress/utilities/index.js
Due: eslint

Correct database seed flag name
  .github/workflows/main.yml
Due: none

Remove `pre-push` Git hook
  package.json
Due: none

Add contact email and telephone environment variables
  .env.ci.cypress
  .env.ci.testing
  .env.cypress
Due: none

Removed environment files are in sync check as no longer needed
  .github/workflows/main.yml
Due: none

Add webhook client secret environment variable
  .env.ci.testing
Due: none

Update dependency eslint to v7.9.0
  package.json
  yarn.lock
Due: none

Reset Cypress environment file after Cypress tests have run
  cypress/scripts/ci/after
Due: none

Correct environment file
  cypress/scripts/ci/after
Due: none

Ensure command runs in production
  cypress/scripts/ci/before
Due: none

Update contact mobile screenshot
  cypress/integration/contact/__image_snapshots__/Contact  matches mobile screenshot #0.png
Due: none

Change Cypress environment to `testing`
  .env.cypress
Due: none

Create Cypress admin tests
  cypress/constants.js
  cypress/integration/admin/__image_snapshots__/Admin Dashboard  matches desktop screenshot #0.png
  cypress/integration/admin/article/__image_snapshots__/Admin Article Create  matches desktop screenshot #0.png
  cypress/integration/admin/article/__image_snapshots__/Admin Article Edit  matches desktop screenshot #0.png
  cypress/integration/admin/article/__image_snapshots__/Admin Article Index  matches desktop screenshot #0.png
  cypress/integration/admin/article/create.spec.js
  cypress/integration/admin/article/edit.spec.js
  cypress/integration/admin/article/index.spec.js
  cypress/integration/admin/dashboard.spec.js
Due: eslint

Change Cypress environment to `testing`
  .env.ci.cypress
Due: none

Updated Cypress before and after hooks
  cypress/support/index.js
Due: eslint

Use `testing` environment when serving site
  .github/workflows/main.yml
Due: none

Change environment to `testing` during CI
  .env.ci.testing
Due: none

Revert server command flag
  .github/workflows/main.yml
Due: none

Set default tracking
  resources/views/layouts/app.blade.php
Due: ./vendor/bin/phpcs

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  stylelint --syntax=scss: any of: *.scss
  eslint: (any of: *.vue) or (any of: *.js)
