Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, jsonlint, stylelint --syntax=scss, eslint

Installed Core Sass NPM package for base styling
  package-lock.json
  package.json
Due: jsonlint

Imported Core Sass
  resources/assets/sass/app.scss
Due: stylelint --syntax=scss

Ensured that all test are passing before a Git push can be performed
  package.json
Due: jsonlint

Temporarily removed JSON Lint NPM package as an issue with the package is causing it to be unusable
  .lintstagedrc
  package-lock.json
  package.json
Due: jsonlint

Created basic landing page markup
  resources/views/landing.blade.php
Due: ./vendor/bin/phpcs

Created default blade layout
  resources/views/layouts/default.blade.php
Due: ./vendor/bin/phpcs

Updated route to point to landing view
  routes/web.php
Due: ./vendor/bin/phpcs

Created head blade partial
  resources/views/partials/general/head.blade.php
Due: ./vendor/bin/phpcs

Created GTM blade partials to output Google Tag Manager scripts if a GTM code is in the environment file
  resources/views/partials/general/gtm.blade.php
  resources/views/partials/general/head/gtm.blade.php
Due: ./vendor/bin/phpcs

Created meta blade partial to output basic meta tags in page `head`
  resources/views/partials/general/head/meta.blade.php
Due: ./vendor/bin/phpcs

Created schema blade partial to output basic schema in page `head`
  resources/views/partials/general/head/schema.blade.php
Due: ./vendor/bin/phpcs

Created footer blade partial
  resources/views/partials/general/footer.blade.php
Due: ./vendor/bin/phpcs

Created contact configuration file to ensure contact details are not duplicated across the application making them harder to update
  config/contact.php
Due: ./vendor/bin/phpcs

Created social configuration file to ensure social handles are not duplicated across the application making them harder to update
  config/social.php
Due: ./vendor/bin/phpcs

Created application-wide styling
  resources/assets/sass/_site.scss
Due: stylelint --syntax=scss

Created landing page styling
  resources/assets/sass/pages/_landing.scss
Due: stylelint --syntax=scss

Created footer styling
  resources/assets/sass/partials/_footer.scss
Due: stylelint --syntax=scss

Imported site, landing page and footer SCSS partials
  resources/assets/sass/app.scss
Due: stylelint --syntax=scss

Added Google Tag Manager key to example environment file
  .env.example
Due: none

Ensured Stylelint ignores `include` and `extend` at rules
  .stylelintrc
Due: jsonlint

Removed whitespace between footer `li` elements to ensure correct spacing between them
  resources/assets/sass/partials/_footer.scss
Due: stylelint --syntax=scss

Created spacing between footer `li` elements after removing whitespace
  resources/assets/sass/partials/_footer.scss
Due: stylelint --syntax=scss

Imported Core Sass variables separately before Core Sass. This allows Core Sass variables to be overwritten or combined with custom variables if needed.
  resources/assets/sass/app.scss
Due: stylelint --syntax=scss

Updated to latest version of Core Sass NPM package
  package-lock.json
  package.json
Due: jsonlint

Added Normalize.css NPM package to `package-lock.json`
  package-lock.json
Due: jsonlint

Corrected footer link `rel` attributes to `noopener` to ensure that any browsing context created by following the link must does not have an opener browsing context
  resources/views/partials/general/footer.blade.php
Due: ./vendor/bin/phpcs

Added Open Graph description meta tag
  resources/views/partials/general/head/meta.blade.php
Due: ./vendor/bin/phpcs

Added missing new line to end of file
  resources/views/partials/general/head.blade.php
Due: ./vendor/bin/phpcs

Created meta configuration file in order to avoid duplicating meta content in site head, meta tags and schema
  config/meta.php
  resources/views/partials/general/head.blade.php
  resources/views/partials/general/head/meta.blade.php
  resources/views/partials/general/head/schema.blade.php
Due: ./vendor/bin/phpcs

Changed Twitter card type to summary with large image to be more impactful in a timeline
  resources/views/partials/general/head/meta.blade.php
Due: ./vendor/bin/phpcs

Removed duplicated `rel` attribute on Google Fonts link as was causing fonts not to load
  resources/views/partials/general/head.blade.php
Due: ./vendor/bin/phpcs

Removed preconnect `rel` attribute on Google Fonts link as was causing fonts not to load
  resources/views/partials/general/head.blade.php
Due: ./vendor/bin/phpcs

Ensured Laravel Mix configuration file passed linting
  webpack.mix.js
Due: eslint

Ensured all images within the `/assets` directory are copied over to the `public` directory
  webpack.mix.js
Due: eslint

Added image for Open Graph and Twitter Cards meta tags as well as schema
  resources/assets/images/sam-wrigley.png
Due: none

Corrected image extension
  resources/views/partials/general/head/meta.blade.php
  resources/views/partials/general/head/schema.blade.php
Due: ./vendor/bin/phpcs

Corrected image path
  .gitignore
Due: none

Updated application description
  config/meta.php
Due: ./vendor/bin/phpcs

Created favicon
  public/favicon.ico
Due: none

Imported favicon in site `head`
  resources/views/partials/general/head.blade.php
  resources/views/partials/general/head/icons.blade.php
Due: ./vendor/bin/phpcs

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  jsonlint: (any of: *.json) or (any of: .*rc)
  stylelint --syntax=scss: any of: *.scss
  eslint: (any of: *.vue) or (any of: *.js)
