Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Added PHP linting step
  .github/workflows/main.yml
Due: none

Added step to ensure environment files are in sync
  .github/workflows/main.yml
Due: none

Removed cache route step as cannot cache routes due to use of closure based routes
  .github/workflows/main.yml
Due: none

Removed cache configuration file step as causing all PHPUnit tests to fail
  .github/workflows/main.yml
Due: none

Apply fixes from StyleCI
  app/Console/Kernel.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Controllers/Controller.php
  app/Http/Middleware/TrustProxies.php
  app/Providers/BroadcastServiceProvider.php
  app/Providers/EventServiceProvider.php
  app/Providers/RouteServiceProvider.php
  app/User.php
  bootstrap/app.php
  config/cache.php
  config/filesystems.php
  config/session.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2014_10_12_100000_create_password_resets_table.php
  public/index.php
  server.php
  tests/CreatesApplication.php
Due: ./vendor/bin/phpcs

Ensure article has article category relationship before outputting category markup
  resources/views/layouts/article.blade.php
Due: ./vendor/bin/phpcs

Added article series markup
  resources/views/layouts/article.blade.php
Due: ./vendor/bin/phpcs

Removed Laravel Hobnob package as no longer used
  composer.json
  composer.lock
Due: none

Updated Laravel Support package to latest version
  composer.json
  composer.lock
Due: none

Updated PHP packages
  composer.lock
Due: none

Updated `laravel/framework` from `5.6.*` to `5.7.*`
  composer.json
  composer.lock
Due: none

Renamed `QUEUE_DRIVER` to `QUEUE_CONNECTION`
  .env.example
  config/queue.php
  phpunit.xml
Due: ./vendor/bin/phpcs

Flattened `/resources/assets` directory to `/resources`
  resources/images/sam-wrigley.png
  resources/js/app.js
  resources/js/bootstrap.js
  resources/sass/_site.scss
  resources/sass/app.scss
  resources/sass/elements/_buttons.scss
  resources/sass/elements/_code.scss
  resources/sass/elements/_form.scss
  resources/sass/elements/_inputs.scss
  resources/sass/elements/_links.scss
  resources/sass/elements/_pre.scss
  resources/sass/elements/_rich-text-editor.scss
  resources/sass/elements/_select.scss
  resources/sass/elements/_table.scss
  resources/sass/elements/_textarea.scss
  resources/sass/modules/articles/_article-edit.scss
  resources/sass/modules/articles/_article-info.scss
  resources/sass/modules/articles/_article-newsletter.scss
  resources/sass/modules/articles/_article-overview.scss
  resources/sass/modules/articles/_article-share.scss
  resources/sass/modules/articles/_article.scss
  resources/sass/modules/articles/_related-articles.scss
  resources/sass/modules/author/_author-email.scss
  resources/sass/modules/author/_author-links.scss
  resources/sass/modules/general/_header-text.scss
  resources/sass/modules/general/_pagination.scss
  resources/sass/modules/general/_rte.scss
  resources/sass/pages/_landing.scss
  resources/sass/partials/_aside.scss
  resources/sass/partials/_footer.scss
  resources/sass/partials/_header.scss
  resources/sass/utilities/_animations.scss
  resources/sass/utilities/_syntax-highlighting.scss
  resources/sass/utilities/_type.scss
  resources/sass/utilities/_variables.scss
  webpack.mix.js
Due: stylelint --syntax=scss, eslint

Added Gitignore file for new `storage/framework/cache` directory
  storage/framework/cache/data/.gitignore
Due: none

Updated `laravel/framework` from `5.7.*` to `5.8.*`
  composer.json
Due: none

Updated PHP packages to be compatible with Laravel 5.8
  composer.json
  composer.lock
Due: none

Refactored string and array global helpers to corresponding classes
  config/cache.php
  config/session.php
  database/factories/ArticleCategoryFactory.php
  database/factories/ArticleFactory.php
  database/factories/UserFactory.php
Due: ./vendor/bin/phpcs

Updated `phpunit/phpunit` from `7.0` to `8.0`
  composer.json
  composer.lock
Due: none

Added `.phpunit.result.cache` to Gitignore to ensure it's not added to version control
  .gitignore
Due: none

Bumped required version of PHP from `7.1.3` to `7.2`
  composer.json
  composer.lock
Due: none

Corrected class capitalisation
  database/factories/UserFactory.php
Due: ./vendor/bin/phpcs

Updated `laravel/framework` from `5.8.*` to `6.0`
  composer.json
Due: none

Updated PHP packages to be compatible with Laravel 6.0
  composer.json
  composer.lock
Due: none

Updated to latest versions of `database` and `filesystems` configuration files
  config/database.php
  config/filesystems.php
Due: ./vendor/bin/phpcs

Updated `samwrigley/laravel-support` to latest version
  composer.json
  composer.lock
Due: none

Apply fixes from StyleCI
  config/database.php
Due: ./vendor/bin/phpcs

Updated `mail` configuration file
  config/mail.php
Due: ./vendor/bin/phpcs

Updated configuration files
  config/app.php
  config/auth.php
  config/broadcasting.php
  config/cache.php
  config/hashing.php
  config/logging.php
  config/queue.php
  config/services.php
  config/session.php
  config/view.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  config/cache.php
Due: ./vendor/bin/phpcs

Updated `laravel/framework` to latest version
  composer.lock
Due: none

Updated `composer.json` to match Laravel 6.0 version
  composer.json
  composer.lock
Due: none

Installed `nunomaduro/phpinsights` PHP package
  composer.json
  composer.lock
Due: none

Updated `nunomaduro/larastan` PHP package
  composer.json
  composer.lock
Due: none

Removed unused `use` statements
  app/Providers/EventServiceProvider.php
  app/Traits/BelongsToManyArticles.php
Due: ./vendor/bin/phpcs

Added return type hint to `scopeWithSeries` method and removed unnecessary docblock
  app/Traits/InSeries.php
Due: ./vendor/bin/phpcs

Removed unused `boot` methods from service providers
  app/Providers/AuthServiceProvider.php
  app/Providers/EventServiceProvider.php
Due: ./vendor/bin/phpcs

Published PHP Insights package configuration file
  config/insights.php
Due: ./vendor/bin/phpcs

Updated `samwrigley/laravel-support` PHP package to latest version
  composer.lock
Due: none

Added PHP Insights step to `main` GitHub actions workflow
  .github/workflows/main.yml
Due: none

Updated CSP policy to include the `rsms.me` domain in order to load Inter stylesheet and fonts
  app/Services/Policy.php
Due: ./vendor/bin/phpcs
