Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Removed channels as not being used
  routes/channels.php
Due: ./vendor/bin/phpcs

Refactored home route to allow route caching
  routes/web.php
Due: ./vendor/bin/phpcs

Added Installation, Development and Testing sections
  README.md
Due: none

Added GitHub Actions badge
  README.md
Due: none

Corrected workflow step names
  .github/workflows/main.yml
Due: none

Added LinkedIn link
  README.md
Due: none

Improved about page copy
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs

Improved contact page copy
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Corrected local business description
  app/Schemas/LocalBusinessSchema.php
  tests/Unit/Schemas/LocalBusinessSchemaTest.php
Due: ./vendor/bin/phpcs

Updated site tagline and description
  config/meta.php
Due: ./vendor/bin/phpcs

Improved meta tags
  resources/views/partials/general/head/meta.blade.php
Due: ./vendor/bin/phpcs

Tweaked punctuation
  config/meta.php
Due: ./vendor/bin/phpcs

Removed unnecessary docblock and improve method name and visibility
  app/Http/Middleware/AddSecurityHeaders.php
Due: ./vendor/bin/phpcs

Refactored security headers array to use constants
  app/Http/Middleware/AddSecurityHeaders.php
Due: ./vendor/bin/phpcs

Add security headers middleware feature test
  app/Http/Middleware/AddSecurityHeaders.php
  tests/Feature/Middleware/AddSecurityHeadersMiddlewareTest.php
Due: ./vendor/bin/phpcs

Removed `rsms.me` from content security policy as no longer used now that Inter is loaded via Google Fonts
  app/Services/Policy.php
Due: ./vendor/bin/phpcs

Installed `laravel/slack-notification-channel` PHP package
  composer.json
  composer.lock
Due: none

Removed `Notifiable` trait from `User` model as not being used
  app/User.php
Due: ./vendor/bin/phpcs

Created `ContactReceived` notification
  app/Http/Controllers/ContactController.php
  app/Notifications/ContactReceived.php
Due: ./vendor/bin/phpcs

Improved contact log message
  app/Http/Controllers/ContactController.php
Due: ./vendor/bin/phpcs

Added `Notifiable` trait to `Contact` model and added slack notification route
  app/Contact.php
Due: ./vendor/bin/phpcs

Installed `laravel/horizon` PHP package
  composer.json
  composer.lock
Due: none

Published Horizon configuration file
  config/horizon.php
Due: ./vendor/bin/phpcs

Ensure Horizon snapshots are taken every 5 minutes
  app/Console/Kernel.php
Due: ./vendor/bin/phpcs

Created Horizon service provider
  app/Providers/HorizonServiceProvider.php
  config/app.php
Due: ./vendor/bin/phpcs

Updated expected log message
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  config/horizon.php
Due: ./vendor/bin/phpcs

Refactored Slack webhook URLs to environment variables
  .env.example
  app/Providers/HorizonServiceProvider.php
  config/notifications.php
Due: ./vendor/bin/phpcs

Refactored contact controller to use on-demand notifications given there's no user
  app/Http/Controllers/ContactController.php
Due: ./vendor/bin/phpcs

Improved contact tests
  tests/Feature/Pages/ContactTest.php
Due: ./vendor/bin/phpcs

Add missing environment variables
  .env.ci
Due: none

Removed `Notifiable` trait and `routeNotificationForSlack` method as no longer needed
  app/Contact.php
Due: ./vendor/bin/phpcs

Reduced font weight of links inside paragraphs
  resources/sass/base/_type.scss
Due: stylelint --syntax=scss

Ensure navigation items align correctly with logo
  resources/views/layouts/default.blade.php
Due: ./vendor/bin/phpcs

Ensure navigation in header and footer have the same text colour
  resources/views/partials/general/header.blade.php
Due: ./vendor/bin/phpcs

Pin dependencies
  composer.json
  composer.lock
  package.json
  yarn.lock
Due: none

Update dependency resolve-url-loader to v3.1.1
  package.json
  yarn.lock
Due: none

Ensure article categories and article series index pages are only added to the sitemap if there are categories and series that have published articles
  app/Console/Commands/GenerateSitemap.php
Due: ./vendor/bin/phpcs

Created error page layout
  resources/views/layouts/error.blade.php
Due: ./vendor/bin/phpcs
