Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

Only run workflow on push
  .github/workflows/main.yml
Due: none

Reverted removal of steps installing and building assets
  .github/workflows/main.yml
Due: none

Created test article in article table seeder
  database/seeds/ArticleTableSeeder.php
Due: ./vendor/bin/phpcs

Added blog article URL to Lighthouse audits
  .github/workflows/main.yml
Due: none

Reduce Lighthouse best practices threshold
  lighthouserc.json
Due: none

Make use of factory states
  database/seeds/ArticleTableSeeder.php
Due: ./vendor/bin/phpcs

Renamed `next and `previous` series method to `nextInSeries` and `previousInSeries` to be more explicit
  app/Traits/InSeries.php
  tests/Unit/ArticleTest.php
Due: ./vendor/bin/phpcs

Refactored `nextInSeries` and `previousInSeries` method to be generic as trait should be reusable across different models
  app/Traits/InSeries.php
Due: ./vendor/bin/phpcs

Created `next` and `previous` methods to get the next and previous published models
  app/Traits/CanBePublished.php
  tests/Unit/ArticleTest.php
Due: ./vendor/bin/phpcs

Added pagination to article show view
  resources/views/layouts/article.blade.php
  resources/views/partials/articles/pagination.blade.php
Due: ./vendor/bin/phpcs

Added tests ensuring next and previous links are output on article show view
  tests/Feature/Article/ArticleShowTest.php
Due: ./vendor/bin/phpcs

Replace `get_class` with `self`
  app/Traits/InSeries.php
Due: ./vendor/bin/phpcs

Ensure article category index view returns a 404 if there are no categories
  app/Http/Controllers/ArticleCategoryController.php
  tests/Feature/ArticleCategory/ArticleCategoryIndexTest.php
Due: ./vendor/bin/phpcs

Ensure article category index view returns a 404 if there are no categories
  app/Http/Controllers/ArticleSeriesController.php
  tests/Feature/ArticleSeries/ArticleSeriesIndexTest.php
Due: ./vendor/bin/phpcs

Ensure article index view shows message when there are no articles
  resources/lang/en/article.php
  resources/views/articles/index.blade.php
  resources/views/layouts/default.blade.php
  tests/Feature/Article/ArticleIndexTest.php
Due: ./vendor/bin/phpcs

Ensure article pagination is only shown if there is a next or previous article
  resources/views/partials/articles/pagination.blade.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  resources/lang/en/article.php
Due: ./vendor/bin/phpcs

Improve tests
  tests/Feature/ArticleSeries/ArticleSeriesIndexTest.php
Due: ./vendor/bin/phpcs

Improved variable names
  tests/Feature/ArticleSeries/ArticleSeriesIndexTest.php
Due: ./vendor/bin/phpcs

Moved copy environment file step to after install PHP dependencies
  .github/workflows/main.yml
Due: none

Add step to cache PHP dependencies
  .github/workflows/main.yml
Due: none

Add step to cache NPM dependencies
  .github/workflows/main.yml
Due: none

Add additional new lines
  .github/workflows/main.yml
Due: none

Corrected caching steps
  .github/workflows/main.yml
Due: none

Corrected step ID
  .github/workflows/main.yml
Due: none

Install Laravel Debug Bar
  composer.json
  composer.lock
  storage/debugbar/.gitignore
Due: none

Improved focus styling
  resources/sass/app.scss
  resources/sass/base/_general.scss
Due: stylelint --syntax=scss

Improved link styling
  resources/sass/base/_type.scss
Due: stylelint --syntax=scss

Improved text styling
  resources/views/pages/about.blade.php
  resources/views/pages/contact.blade.php
Due: ./vendor/bin/phpcs

Removed link around article title as unnecessary
  resources/views/layouts/article.blade.php
Due: ./vendor/bin/phpcs

Improved input focus styling
  resources/views/partials/articles/newsletter.blade.php
Due: ./vendor/bin/phpcs

Installed `spatie/laravel-sitemap`
  composer.json
  composer.lock
Due: none

Created `GenerateSitemap` command
  app/Console/Commands/GenerateSitemap.php
  app/Console/Kernel.php
Due: ./vendor/bin/phpcs

Add sitemap to Git ignore file
  .gitignore
Due: none

Updated `GenerateSitemap` command
  app/Console/Commands/GenerateSitemap.php
Due: ./vendor/bin/phpcs

Added `GenerateSitemap` command test
  tests/Feature/Commands/GenerateSitemapTest.php
Due: ./vendor/bin/phpcs

Added generate sitemap step to main Github Actions workflow
  .github/workflows/main.yml
Due: none

Improved `GenerateSitemap` command by:
  app/Console/Commands/GenerateSitemap.php
Due: ./vendor/bin/phpcs

Removed API routes as not used
  app/Providers/RouteServiceProvider.php
  routes/api.php
Due: ./vendor/bin/phpcs

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  stylelint --syntax=scss: any of: *.scss
  eslint: (any of: *.vue) or (any of: *.js)
