Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

Update dependency laravel/framework to v7.25.0
  composer.json
  composer.lock
Due: none

Update dependency mockery/mockery to v1.4.2
  composer.json
  composer.lock
Due: none

Update dependency barryvdh/laravel-debugbar to v3.4.1
  composer.json
  composer.lock
Due: none

Update dependency phpunit/phpunit to v9.3.7
  composer.json
  composer.lock
Due: none

Update dependency laravel/tinker to v2.4.2
  composer.json
  composer.lock
Due: none

Update dependency eslint to v7.7.0
  package.json
  yarn.lock
Due: none

Update dependency nothingworks/blade-svg to v0.4.4
  composer.json
  composer.lock
Due: none

Install and configure Cypress snapshots plugin
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands.js
  package.json
  yarn.lock
Due: eslint

Remove unnecessary test NPM script
  package.json
Due: none

Add mobile, tablet and desktop contact snapshot tests
  cypress/constants.js
  cypress/integration/contact/contact.spec.js
Due: eslint

Changed contact page description
  cypress/integration/contact/contact.spec.js
Due: eslint

Add mobile, tablet and desktop about page snapshot tests
  cypress/integration/contact/about.spec.js
Due: eslint

Correct about spec path
  cypress/integration/about/about.spec.js
Due: eslint

Moved contact and about paths to constants file
  cypress/constants.js
  cypress/integration/about/about.spec.js
  cypress/integration/contact/contact.spec.js
Due: eslint

Add mobile, tablet and desktop blog index snapshot tests
  cypress/constants.js
  cypress/integration/blog/index.spec.js
Due: eslint

Correct linting
  cypress/integration/blog/index.spec.js
Due: eslint

Add mobile, tablet and desktop blog categories snapshot tests
  cypress/constants.js
  cypress/integration/blog/categories.spec.js
Due: eslint

Add mobile, tablet and desktop blog series snapshot tests
  cypress/constants.js
  cypress/integration/blog/series.spec.js
Due: eslint

Install `laracasts/cypress` PHP package
  composer.json
  composer.lock
Due: none

Publish `laracasts/cypress` boilerplate
  cypress/plugins/index.js
  cypress/plugins/swap-env.js
  cypress/support/index.js
  cypress/support/laravel-commands.js
Due: eslint

Add Cypress environment file
  .env.cypress
Due: none

Remove assertions import as file no longer exists
  cypress/support/index.js
Due: eslint

Moved forward slashes to the end of each constant
  cypress/constants.js
Due: eslint

Add mobile, tablet and desktop blog article snapshot tests
  cypress/integration/blog/article.spec.js
Due: eslint

Add Cypress screenshot images
  cypress/integration/about/__image_snapshots__/About  matches desktop screenshot #0.png
  cypress/integration/about/__image_snapshots__/About  matches mobile screenshot #0.png
  cypress/integration/about/__image_snapshots__/About  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches tablet screenshot #0.png
  cypress/integration/contact/__image_snapshots__/Contact  matches desktop screenshot #0.png
  cypress/integration/contact/__image_snapshots__/Contact  matches mobile screenshot #0.png
  cypress/integration/contact/__image_snapshots__/Contact  matches tablet screenshot #0.png
Due: none

Remove Cypress environment file swap
  .env.cypress
  cypress/plugins/index.js
  cypress/plugins/swap-env.js
  cypress/support/index.js
Due: eslint

Correct blog article index spec description
  cypress/integration/blog/article.spec.js
Due: eslint

Updated pre-push hook
  package.json
Due: none

Updated image CSP to allow placeholder images
  app/Services/Policy.php
Due: ./vendor/bin/phpcs

Changed avatar in user factory
  database/factories/UserFactory.php
Due: ./vendor/bin/phpcs

Ensure `time` tags are blacked out to avoid time changes causing snapshot tests to fail
  cypress.json
Due: none

Ensure author and article body remain consistent on permanent test article
  database/seeds/ArticleTableSeeder.php
Due: ./vendor/bin/phpcs

Re-record blog article snapshots after ensure content remains consistent over time
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches tablet screenshot #0.png
Due: none

Remove only
  cypress/integration/blog/article.spec.js
Due: eslint

Remove blackout configuration
  cypress.json
Due: none

Add article newsletter form ID
  cypress/selectors.js
  resources/views/partials/articles/newsletter.blade.php
Due: ./vendor/bin/phpcs, eslint

Add blog article newsletter tests
  cypress/integration/blog/article.spec.js
  cypress/strings.js
Due: eslint

Add email to newsletter subscribe failed logging
  app/Http/Controllers/NewsletterSubscriptionController.php
Due: ./vendor/bin/phpcs

Updated screenshots
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Article Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Categories Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Index  matches tablet screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches desktop screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches mobile screenshot #0.png
  cypress/integration/blog/__image_snapshots__/Blog Series Index  matches tablet screenshot #0.png
Due: none

Removed auto cleanup configuration as causes last test to fail
  cypress.json
Due: none

Path conditions:
  ./vendor/bin/phpcs: any of: *.php
  stylelint --syntax=scss: any of: *.scss
  eslint: (any of: *.vue) or (any of: *.js)
