Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Update dependency stylelint to v13
  package.json
  yarn.lock
Due: none

Add support for MailChimp update email webhook call
  app/Http/Webhooks/Profiles/MailChimpWebhookProfile.php
  app/Jobs/MailChimpProcessWebhookJob.php
  tests/Feature/Jobs/MailChimpProcessWebhookJobTest.php
Due: ./vendor/bin/phpcs

Created `NewsletterSubscriptionEmailUpdated` event
  app/Events/NewsletterSubscriptionEmailUpdated.php
Due: ./vendor/bin/phpcs

Created `NewsletterUnsubscribed` event
  app/Events/NewsletterUnsubscribed.php
Due: ./vendor/bin/phpcs

Created `UnsubscribeNewsletterSubscription` listener
  app/Listeners/UnsubscribeNewsletterSubscription.php
  tests/Feature/Listeners/UnsubscribeNewsletterSubscriptionTest.php
Due: ./vendor/bin/phpcs

Created `UpdateNewsletterSubscriptionEmail` listener
  app/Listeners/UpdateNewsletterSubscriptionEmail.php
  tests/Feature/Listeners/UpdateNewsletterSubscriptionEmailTest.php
Due: ./vendor/bin/phpcs

Ensure events and listeners are auto discovered
  app/Providers/EventServiceProvider.php
Due: ./vendor/bin/phpcs

Refactored `MailChimpProcessWebhookJob` to reduce complexity by splitting up logic into multiple event listeners
  app/Jobs/MailChimpProcessWebhookJob.php
  tests/Feature/Jobs/MailChimpProcessWebhookJobTest.php
Due: ./vendor/bin/phpcs

Apply fixes from StyleCI
  tests/Feature/Listeners/UnsubscribeNewsletterSubscriptionTest.php
Due: ./vendor/bin/phpcs

Reduce PHP Insights complexity threshold
  .github/workflows/main.yml
Due: none

Renamed `subscribe` method to `subscribeSuccessful` to be more explicit
  app/Http/Controllers/NewsletterSubscriptionController.php
Due: ./vendor/bin/phpcs

Renamed `MailChimpProcessWebhookJob` to `ProcessMailChimpWebhookJob`
  app/Jobs/ProcessMailChimpWebhookJob.php
  config/webhook-client.php
  tests/Feature/Jobs/ProcessMailChimpWebhookJobTest.php
  tests/Feature/Newsletter/NewsletterWebhookTest.php
Due: ./vendor/bin/phpcs

Renamed tests
  tests/Feature/Newsletter/NewsletterWebhookTest.php
Due: ./vendor/bin/phpcs

Pin dependencies
  composer.json
  composer.lock
Due: none

Update dependency facade/ignition to v2.0.4
  composer.json
  composer.lock
Due: none

Update dependency laravel/framework to v7.12.0
  composer.json
  composer.lock
Due: none

Update dependency mockery/mockery to v1.4.0
  composer.json
  composer.lock
Due: none

Add newsletter webhook test route so MailChimp can verify webhook endpoint exists
  app/Http/Controllers/Webhooks/NewsletterWebhookTestController.php
  routes/webhook.php
  tests/Feature/Newsletter/NewsletterWebhookTest.php
Due: ./vendor/bin/phpcs

Update dependency phpunit/phpunit to v9.1.5
  composer.json
  composer.lock
Due: none

Created `profile-image` Tailwind component
  resources/sass/app.scss
  resources/sass/components/_profile-image.scss
Due: stylelint --syntax=scss

Moved default text colour from `html` tag to `body` and add overflow-x hidden class to `body`
  resources/views/layouts/default.blade.php
Due: ./vendor/bin/phpcs

Fixed overflow issue on mobile devices
  resources/views/layouts/default.blade.php
Due: ./vendor/bin/phpcs

Added additional context to about page including experience section and profile picture
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs

Removed `profile-image` component as no longer needed
  resources/sass/app.scss
  resources/sass/components/_profile-image.scss
Due: stylelint --syntax=scss

Refactor profile image styling and loaded image via Cloudinary
  .env.ci
  .env.example
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs

Extended spacing and rotate Tailwind configuration
  tailwind.config.js
Due: eslint

Added missing trailing comma
  tailwind.config.js
Due: eslint

Extended Tailwind font size configuration
  tailwind.config.js
Due: eslint

Corrected custom font size classes
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs

Added Content Security Policy for Cloudinary
  app/Services/Policy.php
Due: ./vendor/bin/phpcs

Slightly reduce Lighthouse accessibility threshold due to low contrast text colour on about page for stylistic reasons
  lighthouserc.json
Due: none

Added additional custom font sizes to Tailwind configuration
  tailwind.config.js
Due: eslint

Added additional xxl breakpoint to Tailwind configuration
  tailwind.config.js
Due: eslint

Improved about page responsive styling
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs

Set max-width on body to ensure site doesn't become too wide on very large screens
  resources/sass/app.scss
  resources/sass/base/_container.scss
Due: stylelint --syntax=scss

Removed negative margin right on main header for very large screens to ensure it doesn't look cut off beyond body max-width
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs

Tweaked about page heading size on small devices
  resources/views/pages/about.blade.php
  tailwind.config.js
Due: ./vendor/bin/phpcs, eslint

Tweaked copy
  resources/views/pages/about.blade.php
Due: ./vendor/bin/phpcs
