Repository samwrigley/samwrigley.co.uk: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/phpcs, stylelint --syntax=scss, eslint

.lintstagedrc:

{
    "*.php": [
        "./vendor/bin/phpcs"
    ],
    "*.scss": [
        "stylelint --syntax=scss"
    ],
    "*.vue": [
        "eslint"
    ],
    "*.js": [
        "eslint"
    ]
}

Corrected article table name in article form request
  app/Http/Requests/ArticleRequest.php
Due: ./vendor/bin/phpcs

Ensured article validation errors are added to a named error bag
  app/Http/Requests/ArticleRequest.php
Due: ./vendor/bin/phpcs

Ensured user validation errors are added to a named error bag
  app/Http/Requests/UserRequest.php
Due: ./vendor/bin/phpcs

Created `ViewServiceProvider` into to create `date` Blade directive to ensure consistent date formatting inside Blade templates
  app/Providers/ViewServiceProvider.php
  config/app.php
Due: ./vendor/bin/phpcs

Removed unused `use` statements
  app/Traits/HasManyArticles.php
Due: ./vendor/bin/phpcs

Installed Blade SVG PHP package and published its configuration file
  composer.json
  composer.lock
  config/blade-svg.php
Due: ./vendor/bin/phpcs

Added Google Tag Manager to services configuration file
  config/services.php
Due: ./vendor/bin/phpcs

Installed Laravel HobNob PHP package in order to easily generate sharing and social links
  composer.json
  composer.lock
Due: none

Added social environment variables to example environment file
  .env.example
Due: none

Added LinkedIn social handle to social configuration file
  config/social.php
Due: ./vendor/bin/phpcs

Reduced length of user bio in `UserFactory` as was unrealistically long
  database/factories/UserFactory.php
Due: ./vendor/bin/phpcs

Improved how article categories are attached to articles in `ArticleTableSeeder`
  database/seeds/ArticleTableSeeder.php
Due: ./vendor/bin/phpcs

Swapped around article and article category routes to ensure article category route are accessible
  routes/web.php
Due: ./vendor/bin/phpcs

Removed calls to Google Tag Manager environment variables and instead replaced with Google Tag Manager service configuration to ensure environment variables can be cached in production
  resources/views/partials/general/gtm.blade.php
  resources/views/partials/general/head/gtm.blade.php
Due: ./vendor/bin/phpcs

Refactored and improved article unit tests
  tests/Unit/ArticleTest.php
Due: ./vendor/bin/phpcs

Removed Faker trait as it wasn't being used
  tests/Unit/UserTest.php
Due: ./vendor/bin/phpcs

Refactored and improved article category unit tests
  tests/Unit/ArticleCategoryTest.php
Due: ./vendor/bin/phpcs

Created article index and show feature tests
  tests/Feature/Article/ArticleIndexTest.php
  tests/Feature/Article/ArticleShowTest.php
Due: ./vendor/bin/phpcs

Created article category index and show feature tests
  tests/Feature/ArticleCategory/ArticleCategoryIndexTest.php
  tests/Feature/ArticleCategory/ArticleCategoryShowTest.php
Due: ./vendor/bin/phpcs

Add missing `use` statement for article category controller
  routes/web.php
Due: ./vendor/bin/phpcs

Corrected land page view named now that it's been moved to `pages` directory
  resources/views/pages/landing.blade.php
  routes/web.php
Due: ./vendor/bin/phpcs

Created basic newsletter controller and corresponding route to subscribe to a newsletter
  app/Http/Controllers/NewsletterController.php
  routes/web.php
Due: ./vendor/bin/phpcs

Created basic newsletter feature tests
  tests/Feature/Newsletter/NewsletterTest.php
Due: ./vendor/bin/phpcs

Updated PHP CodeSniffer linting rules to allow snake case method names in tests
  phpcs.xml
Due: none

Added NPM script to lint all PHP files during `prepush` Git hook
  package.json
Due: none

Exclude `public/index.php` from PHP CodeSniffer linting rules as don't want to lint file
  phpcs.xml
Due: none

Updated default Blade layout
  resources/views/layouts/default.blade.php
Due: ./vendor/bin/phpcs

Updated Blade footer partial
  resources/views/partials/general/footer.blade.php
Due: ./vendor/bin/phpcs

Created blog Blade components, partials and views
  resources/views/articles/index.blade.php
  resources/views/articles/show.blade.php
  resources/views/categories/index.blade.php
  resources/views/categories/show.blade.php
  resources/views/components/general/errors.blade.php
  resources/views/components/general/pagination.blade.php
  resources/views/layouts/article.blade.php
  resources/views/partials/articles/categories.blade.php
  resources/views/partials/articles/excerpt.blade.php
  resources/views/partials/articles/featured-image.blade.php
  resources/views/partials/articles/header.blade.php
  resources/views/partials/articles/index.blade.php
  resources/views/partials/articles/info.blade.php
  resources/views/partials/articles/newsletter.blade.php
  resources/views/partials/articles/posted-on.blade.php
  resources/views/partials/articles/read-more.blade.php
  resources/views/partials/articles/share.blade.php
  resources/views/partials/articles/title.blade.php
  resources/views/partials/author/email.blade.php
  resources/views/partials/categories/index.blade.php
  resources/views/partials/general/aside.blade.php
  resources/views/partials/general/categories.blade.php
  resources/views/partials/general/header.blade.php
  resources/views/partials/general/pagination.blade.php
  resources/views/partials/general/scripts.blade.php
Due: ./vendor/bin/phpcs

Updated general site wide styling
  resources/assets/sass/_site.scss
Due: stylelint --syntax=scss

Updated application SCSS bootstrap file
  resources/assets/sass/app.scss
Due: stylelint --syntax=scss

Updated footer styling
  resources/assets/sass/partials/_footer.scss
Due: stylelint --syntax=scss

Created arrow right SVG icon
  resources/svg/arrow-right.svg
Due: none

Created SCSS elements, modules, partials styling
  resources/assets/sass/elements/_buttons.scss
  resources/assets/sass/elements/_code.scss
  resources/assets/sass/elements/_form.scss
  resources/assets/sass/elements/_inputs.scss
  resources/assets/sass/elements/_links.scss
  resources/assets/sass/elements/_pre.scss
  resources/assets/sass/elements/_rich-text-editor.scss
  resources/assets/sass/elements/_select.scss
  resources/assets/sass/elements/_table.scss
  resources/assets/sass/elements/_textarea.scss
  resources/assets/sass/modules/articles/_article-edit.scss
  resources/assets/sass/modules/articles/_article-info.scss
  resources/assets/sass/modules/articles/_article-newsletter.scss
  resources/assets/sass/modules/articles/_article-overview.scss
  resources/assets/sass/modules/articles/_article-share.scss
  resources/assets/sass/modules/articles/_article.scss
  resources/assets/sass/modules/articles/_related-articles.scss
  resources/assets/sass/modules/author/_author-email.scss
  resources/assets/sass/modules/author/_author-links.scss
  resources/assets/sass/modules/general/_header-text.scss
  resources/assets/sass/modules/general/_pagination.scss
  resources/assets/sass/modules/general/_rte.scss
  resources/assets/sass/partials/_aside.scss
  resources/assets/sass/partials/_header.scss
  resources/assets/sass/utilities/_animations.scss
  resources/assets/sass/utilities/_syntax-highlighting.scss
  resources/assets/sass/utilities/_type.scss
  resources/assets/sass/utilities/_variables.scss
Due: stylelint --syntax=scss

Updated Stylelint configuration to ignore `each` at rule
  .stylelintrc
Due: none

Installed Laravel Env Sync PHP package and added corresponding NPM scripts to trigger checks during post-checkout and pre-push Git hooks
  composer.json
  composer.lock
  package.json
Due: none

Refactored errors Blade partial to allow passing name of error bag
  resources/views/components/general/errors.blade.php
Due: ./vendor/bin/phpcs

Removed unnecessary line breaks from errors Blade partial
  resources/views/components/general/errors.blade.php
Due: ./vendor/bin/phpcs

Passed name of newsletter error bag to `errors` Blade partial
  resources/views/partials/articles/newsletter.blade.php
Due: ./vendor/bin/phpcs

Created `session` Blade partial and added beneath newsletter form in order to output success message
  resources/views/components/general/session.blade.php
  resources/views/partials/articles/newsletter.blade.php
Due: ./vendor/bin/phpcs
